Back-end/lesson4/config
Back-end/lesson5/config
Back-end/lesson4/test
Back-end/lesson3/databasePrivilage.json
SRE/lesson5/.venv
Back-end/winterExam/backend/configs
Back-end/winterExam/backend/api(kpi)
Front-end/WinterExam/WinterExam
Front-end/WinterExam/WinterExam.html
Front-end/WinterExam/api-enhanced